﻿<form action="@Url.Action("Auth")" method="post">

    @Html.ValidationMessage("login.Invalid")
    <label for="login">Login</label>
    <input id="login" name="login" type="text" class="form-control" />


    <label for="passwd">Password</label>
    <input id="passwd" name="passwd" type="password" class="form-control" />

    <input type="submit" class="btn btn-primary" value="Auth" />
</form>