﻿
@model IList<Finances.Models.User>

@Html.ActionLink("New User", "Form", new { @class = "label" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.name</td>
                <td>@user.email</td>
            </tr>
        }
    </tbody>
</table>
