﻿@model Finances.Models.ViewMovement

@using (Html.BeginForm("sMovementsByUser", "Movement", FormMethod.Post))
        {

            @Html.LabelFor(m => m.userId, "User")
            @Html.DropDownListFor(m => m.userId,
                new SelectList(Model.users, "id", "name"),
                "Select user")

            <input type="submit" class="btn btn-primary" value="Search" />


}
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.movements)
        {
            <tr>
                <td>@m.id</td>
                <td>@m.user.name</td>
                <td>@m.value</td>
                <td>@m.type</td>
                <td>@m.date</td>
            </tr>
        }
    </tbody>
</table>




